body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-size: 1.5rem;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 50px;
    cursor: pointer;
}
.star {
    color: gray;
    transition: color 0.2s;
}
.star.filled {
    color: gold;
}